.modal-to-config-game {   

    h2 {  
        @apply pt-[10px] px-0 pb-5;
        @apply text-title text-center font-semibold text-[clamp(1.4em,3vw,2.3rem)] uppercase;  
    }

    .container {
        @apply grid gap-y-5 gap-x-[25px];   
        grid-template: "teams teams"
            "game-date game-date"
            "situation situation"
            "positions positions"
            "create-game-button create-game-button"
            / 1fr 1fr;

        @screen sm {
            grid-template:
                "teams teams"
                "game-date situation"
                "game-date situation"
                "positions positions"
                "create-game-button create-game-button"
                / 1fr 1fr;
                @apply gap-x-[50px]; 

        }


        @screen xs {
            grid-template:
                "teams teams"
                "game-date situation"
                "game-date situation"
                "positions positions"
                "create-game-button create-game-button"
                / 1fr 1fr;
                @apply gap-x-[25px];
        } 

        .teams {
            grid-area: teams;
            margin-bottom: 25px;
        }

        .situation {
            grid-area: situation;
        }

        .game-date {
            grid-area: game-date;
        }

        .create-game-button {
            grid-area: create-game-button;
        }
    }

    .pontuations {
        grid-area: positions;
    }
}