.button-select-gender {
    @apply relative text-center p-[10px];
    @apply rounded-default border-t-2 border-b-2 border-solid border-opacity-60 border-t-primary border-b-secondary;
    box-shadow: inset -5px -5px 10px theme("colors.secondary" /25%);
    @apply cursor-pointer transition-all duration-300;

    &:before {
        content: "";
        @apply absolute w-full h-full top-0 left-0;
        @apply rounded-default;
        box-shadow: inset 5px 5px 10px theme("colors.primary" / 25%);

    }

    &[data-is-selected="true"] { 
        @apply border-t-4 border-b-4 border-t-secondary border-b-primary;
        box-shadow: inset -5px -5px 10px theme("colors.primary" /60%);
        background: rgb(var(--inverted-theme), 0.071);

        :before { 
            box-shadow: inset 5px 5px 10px theme("colors.secondary" / 60%);
        }
    }

    .illustration {
        @apply relative;
        @apply w-[100px] h-[100px] xs:w-[90px] xs:h-[90px];
    }

    p {
        @apply relative bottom-0 m-0 mt-[15px];
        @apply text-title capitalize text-lg;
    }
}