#basketball-illustrations {
    @apply absolute;

    .cls-1,
    .cls-21,
    .cls-6 {
        fill: #fff;
    }

    .cls-2 {
        fill: none;
    }

    .cls-3 {
        mask: url(#mask);
    }

    .cls-4 {
        opacity: 0.27;
    }

    .cls-10,
    .cls-21,
    .cls-4,
    .cls-9 {
        isolation: isolate;
    }

    .cls-5 {
        fill: none;
    }

    .cls-11,
    .cls-5,
    .cls-6,
    .cls-7 {
        stroke: #263238;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .cls-12,
    .cls-7 {
        fill: #c43a3a;
    }

    .cls-8 {
        mask: url(#mask-2);
    }

    .cls-9 {
        opacity: 0.1;
    }

    .cls-10 {
        opacity: 0.2;
    }

    .cls-11,
    .cls-14 {
        fill: #263238;
    }

    .cls-13 {
        mask: url(#mask-3);
    }

    .cls-15 {
        mask: url(#mask-4);
    }

    .cls-16 {
        mask: url(#mask-5);
    }

    .cls-17 {
        mask: url(#mask-6);
    }

    .cls-18 {
        mask: url(#mask-7);
    }

    .cls-19 {
        mask: url(#mask-8);
    }

    .cls-20 {
        mask: url(#mask-9);
    }

    .cls-21 {
        opacity: 0.5;
    }

    .cls-22 {
        mask: url(#mask-10);
    }

    .cls-23 {
        mask: url(#mask-11);
    }

    .cls-24 {
        mask: url(#mask-12);
    }

    .cls-25 {
        mask: url(#mask-13);
    }

    &:hover {

        #freepik--character-2--inject-217,
        #freepik--Ball--inject-217 {
            @keyframes moverDiagonalmente {
                0% {
                    opacity: 0;
                    transform: translateX(30%) translateY(20%);
                }

                50% {
                    opacity: 1;
                }

                100% {
                    transform: translateX(0%) translateY(0%);
                }
            }

            animation: moverDiagonalmente 0.6s linear;
        }

        #freepik--character-1--inject-217 {
            @keyframes moverInverseDiagonalmente {
                0% { 
                    transform: translateX(-5%) translateY(30%);
                } 

                100% {
                    transform: translateX(0%) translateY(0%);
                }
            }

            animation: moverInverseDiagonalmente 0.6s linear;
 
        }

    }
}