#pingpong-illustration {
    .cls-1 {
        @apply fill-absolute_theme;
    }

    .cls-2 {
        @apply fill-inverted_theme;
    }

    .cls-3 {
        @apply fill-inverted_theme;
    }

    .cls-18,
    .cls-4 {
        opacity: 0.15;
    }

    .cls-14,
    .cls-17,
    .cls-18,
    .cls-20,
    .cls-4,
    .cls-9 {
        isolation: isolate;
    }

    .cls-18,
    .cls-5 {
        fill: #fff;
    }

    .cls-6 {
        fill: #f0f0f0;
    }

    .cls-7 {
        fill: #ffbda7;
    }

    .cls-8 {
        @apply fill-primary;
    }

    .cls-9 {
        opacity: 0.2;
    }

    .cls-10 {
        fill: #455a64;
    }

    .cls-11 {
        fill: #37474f;
    }

    .cls-12 {
        fill: #263238;
    }

    .cls-13 {
        fill: #f0997a;
    }

    .cls-14 {
        opacity: 0.4;
    }

    .cls-15 {
        fill: #b16668;
    }

    .cls-16 {
        fill: #f28f8f;
    }

    .cls-17 {
        opacity: 0.1;
    }

    .cls-19 {
        fill: #9a4a4d;
    }

    .cls-20 {
        opacity: 0.25;
    }

    #freepik--Ball--inject-434 {
        @keyframes game {
            0% {
                transform: translate(0, 0);
            }

            12% {
                transform: translate(100px, 0);
            }

            100% {
                transform: translate(0, 0);
            }
        }

        animation: game 2s liner;

        #freepik--tennis-ball-shadow--inject-434 {
            animation: game 2s liner;

        }

        #freepik--tennis-ball--inject-434 {
            animation: game 2s liner;

        }
    }
}