.list-sports {
    position: relative;
    z-index: 20;

    @apply grid gap-4 grid-cols-2;
    grid:
    "basquete outros" 170px
    "basquete futbol" 170px 
    "natacao natacao" 170px
    "xadrez ping_pong" 170px
    / 1.1fr 1.1fr; 
    
    @screen sm{
        @apply grid gap-4 grid-cols-3;
        grid:
            "outros futbol basquete " 180px
            "natacao natacao basquete" 180px 
            "xadrez ping_pong ." 180px
            / 1.1fr 1.1fr 1fr;
    }

    @screen ms{
        grid:
            "outros futbol basquete " 180px
            "natacao natacao basquete" 180px 
            "xadrez ping_pong ." 180px
            / 1fr 1fr 1fr;

    } 
    @screen md{
        grid:
            "outros futbol basquete" 180px
            "natacao natacao basquete" 180px 
            "xadrez ping_pong ." 180px;
    }

    .card-outros {
        grid-area: outros;

        &__illustration {
            @apply inset-0 m-auto w-[clamp(110px,100%,150px)];
        }
    }

    .card-futbol {
        grid-area: futbol;

        &__illustration {
            @apply inset-0 m-auto w-[clamp(110px,100%,180px)];
        }
    }

    .card-basquete {
        grid-area: basquete;

        &__illustration {
            @apply -top-[3%] -left-[7%] w-[clamp(190px,100%,230px)]
        }
    }

    .card-natacao {
        grid-area: natacao;

        &__illustration {
            @apply   inset-x-0 m-auto w-[clamp(90px,100%,350px)]
        }
    }

    .card-xadrez {
        grid-area: xadrez;
        &__illustration {
            @apply bottom-0 inset-x-0 m-auto w-[clamp(100px,100%,170px)];
        }
    }

    .card-ping_pong {
        grid-area: ping_pong;

        &__illustration {
            @apply bottom-0 inset-x-0 m-auto w-[clamp(90px,100%,200px)]
        }
    }
}