#outros-illustration {
    .cls-1 {
        fill: #ffa8a7; 
    }

    .cls-2 {
        fill: #263238;
    }

    .cls-3 {
        fill: #37474f; 
    }

    .cls-4 {
        fill: #fafafa;
    }

    .cls-5 {
        fill: #f0f0f0;
    }

    .cls-6 {
        fill: #ebebeb;
    
    }

    .cls-7 {
        fill: #f28f8f;
        
    }

    .cls-8 {
        @apply fill-primary;  
    }

    .cls-9 {
        fill: #b16668;
    }

    .cls-10 {
        opacity: 0.1;
        isolation: isolate;
    }
}