.apresentationTwoTeams {
    @apply w-52;
    @apply flex items-baseline justify-center;

    .image-container {
        @apply relative w-20 h-20 -mb-4;
    }

    .score-container {
        @apply flex mx-2 -mt-0;
        align-items: flex-end;

        div {}

        @apply text-3xl;

        &,
        .icon-versus {
            @apply text-title font-bold;
        }

        .icon-versus {
            @apply text-2xl;
            @apply mb-1;
        }
    }
}

.apresentationMoreThanTwoTeams {
    @apply flex items-baseline;
    @apply overflow-x-scroll overflow-y-hidden pb-5;
    @apply max-w-full;
    
    .container { 
        @apply flex items-baseline min-w-fit;
        .image-container {
            @apply relative min-w-[80px] min-h-[80px] -mb-4;

            .score {
                @apply absolute -bottom-4 inset-x-0 m-auto;
                @apply w-fit px-2;
                background-color: rgba(var(--absolute-theme), 0.2);
                backdrop-filter: blur(10px);
                @apply text-lg text-title font-semibold text-center leading-7;
                @apply border rounded-sm;
                border-color: rgba(var(--inverted-theme), 0.3);

                p {
                    @apply m-0
                }
            }
        }

        .icon-versus {
            @apply text-2xl text-inverted_theme;
        }
    }
}