#apresentationTwoTeams {
    @apply w-full;
    @apply flex items-baseline justify-center;

    .container { 
        .team {
            @apply flex items-baseline;
            @apply text-3xl text-inverted_theme;

            .placar{
                @apply text-3xl text-title font-semibold;
            }
            .icon-versus {
                @apply mb-2 text-2xl;
            }
        }

        &:last-child .team {
            @apply flex-row-reverse;
        }
    }
}

#apresentationMoreThanTwoTeams {
    @apply flex items-baseline;
    @apply overflow-x-scroll overflow-y-hidden pb-5;
    @apply max-w-full;

    .container {
        @apply flex items-baseline min-w-fit;

        .image-container {
            @apply relative min-w-[80px] min-h-[80px] -mb-4;

            .score {
                @apply absolute -bottom-4 inset-x-0 m-auto;
                @apply w-fit px-2;
                background-color: rgba(var(--absolute-theme), 0.2);
                backdrop-filter: blur(10px);
                @apply text-lg text-title font-semibold text-center leading-7;
                @apply border rounded-sm;
                border-color: rgba(var(--inverted-theme), 0.3);

                p {
                    @apply m-0
                }
            }
        }

        .icon-versus {
            @apply text-2xl text-inverted_theme;
        }
    }
}