/* .button-dark-mode {
    @apply relative z-10;
    @apply w-14 h-7;
    @apply flex bg-background;

    @apply rounded-[50px] border border-solid;
    border-color: rgb(var(--inverted-theme), 0.4);

    &[data-theme-selected="light"] {
        @apply justify-end;
    }

    &[data-theme-selected="dark"] {
        @apply justify-start;
    }

    @apply p-0.5  box-content;

} */
.handle {
    @apply flex justify-center items-center cursor-pointer;
    @apply w-7 h-7;
    background: linear-gradient(135deg, theme("colors.primary") 0%, theme("colors.secondary") 100%);
    @apply rounded-full border border-solid;
    border-color: rgb(var(--inverted-theme), 0.4) !important;

    .icon {
        color: theme("colors.inverted_theme") !important;
        font-size: theme("fontSize.base") !important;
    }
}