.illustration-edicoes-da-semadec {
    @apply absolute z-10;
    @apply w-full h-full;

    svg {
        .assign-color {
            @apply fill-primary; 
        }

        .cls-1 {
            fill: #263238;
        }

        .cls-2 {
            fill: #c7c7c7;
        }

        .cls-3 {
            fill: #dbdbdb;
        }

        .cls-4 {
            fill: #37474f;
        }

        .cls-6 {
            fill: #fff;
        }

        .cls-7 {
            fill: #455a64;
        }

        .cls-8 {
            fill: #ebebeb;
        }

        .cls-9 {
            fill: #a6a6a6;
        }

        .cls-10 {
            fill: #dd6a57;
        }

        .cls-11 {
            fill: #d3766a;
        }

        .cls-12 {
            opacity: 0.1;
            isolation: isolate;
        }

        .cls-13 {
            fill: #ff9cbd;
        }
    }
}