@import "./theme.scss";
@import "@splidejs/react-splide/css";
@import '@splidejs/react-splide/css/skyblue';
@import '@splidejs/react-splide/css/sea-green';
@import '@splidejs/react-splide/css/core';
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./muiInputs.scss"; 
  

* {
  user-select: none;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;

  a {
    color: none;
    text-decoration: none;
    transition: none !important;
  }
}


*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-sm;
  background-color: rgb(var(--inverted-theme),0.2) !important;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--inverted-theme),0.5) !important;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}