.showMembersOfTeam {
    @apply w-full min-w-[220px];
    @apply flex flex-col items-center flex-1 self-stretch gap-3;
    @apply p-5 rounded-default;
    background: rgba(var(--absolute-theme), 0.01);
    box-shadow: 0px -2px 12px 0px rgba(var(--inverted-theme), 0.05) inset, 0px 4px 8px 0px rgba(var(--absolute-theme), 0.25);

    @screen md{
        @apply min-w-[270px];
    }

    .title {
        @apply w-full relative flex gap-2 justify-center items-center;
        @apply mb-3;
        &::before {
            content: '';
            @apply absolute -bottom-1;
            @apply w-full h-0.5;
            @apply bg-inverted_theme;
        }

        h2 {
            @apply text-xl text-title font-semibold capitalize;
        }

        .logo {
            @apply relative w-7 h-7;
        }
    }
    ul{
        @apply flex flex-col items-center flex-1 self-stretch gap-3;
    }
}